extends layout.jade

block title
  title Tito - Asistencia
block extra_script
  script.
    $( document ).ready(function() {
      var mode = "CREATE";
      function getURLParameter(name) {
        return decodeURI(
          (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
        );
      }
      var id = getURLParameter("id");
      if (id == 'null' || id.length === 0) {
      } else {
        mode = "UPDATE";
        $("#donebtn").html('Guardar');
        $.ajax({
          method: "GET",
          url: "../api/v1/asistencias/:"+id,
          success : function(text) {
            $("input[name='codigo_alumno']").val(text[0]['codigo_alumno']);
            $("input[name='codigo_conferencia']").val(text[0]['codigo_conferencia']);
          }
        });
      }
      $("#myform").submit(function(e){
        var serializedData = $(this).serialize();
        console.log(serializedData);
        if (mode == "CREATE") {
          $.ajax({
            method: "POST",
            url: "../api/v1/asistencias",
            data: serializedData,
            success : function() {
              window.location.replace("asistencias");
            },
            fail: function() {
              window.location.replace("asistencias");
            }
          });
        } else {
          request = $.ajax({
            method: "PUT",
            url: "../api/v1/asistencias/"+id,
            data: serializedData,
            success : function() {
              window.location.replace("../asistencias");
            },
            fail: function() {
              window.location.replace("../asistencias");
            }
          });
        };
        e.preventDefault();
      });
    });
block content
  h2.h-header Detalle de la Asistencia
  form#myform(name='myform', action='/api/v1/asistencias', method='post', data-abide="true", )
    .alert.callout(data-abide-error="true", style="display: none;")
      p
        i.fi-alert
        | Hay errores en los datos
    .row
      .small-6.columns
        label
          | Codigo Alumno
          input(name='codigo_alumno', type='text', required="true")
    .row
      .small-6.columns
        label
          | Codigo Conferencia
          input(name='codigo_conferencia', type='text')

  br
  button#donebtn(type='submit', form='myform', value='Submit') AGREGAR
  br
