extends layout.jade

block title
  title Tito - Conferencias
block extra_script
  script.
    $(document).ready(function() {
      var oTable =   $('#table_id').DataTable( {
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "./api/v1/conferencias",
          "type":"GET"
        },
        "dom": "<'row'<'small-6 columns'i><'small-6 columns'f>r>t<'row column'p>",
        "autoWidth": false,
        "columnDefs": [
          { searchable: false, aTargets: [ -1, -2 ] },
          { orderable: false, aTargets: [ -1, -2 ] }
        ],
        "columns": [
          { "data": "codigo" },
          { "data": "name" },
          { "data": "name",
            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
              $(nTd).html("<a class='editar button warning quickable' href='conferencia/?id="+oData.codigo+"'><i class='fi-pencil'/></a>");
            }
          },
          { "data": "name",
            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
              $(nTd).html("<a class='eliminar button alert quickable' href='./api/v1/conferencias/"+oData.codigo+"'><i class='fi-minus'/></a>");
            }
          }
        ]
        });
      $('#table_id').on('click', '.eliminar', function (e) {
        e.preventDefault();
        if (confirm("Esta seguro de eliminar? ")) {
          $.ajax({
            method: "DELETE",
            url: this
          })
          .done(function( msg ) {
            alert( "Data deleted" + msg );
          });
        }
        window.location.replace("/conferencias");
      });
    });
block content
  h2.h-header Conferencias
  a.button.quickable(href='conferencia') 
    i.fi-plus
    |  Nuevo
  table#table_id.display
    thead
      tr
        th Codigo
        th Nombre
        th
        th