extends layout.jade

block title
  title Zauru CRM - Contacto
block extra_script
  script.
    $( document ).ready(function() {
      var mode = "CREATE";
      function getURLParameter(name) {
        return decodeURI(
          (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
        );
      }
      var id = getURLParameter("id");
      if (id == 'null' || id.length === 0) {
      } else {
        mode = "UPDATE";
        $("#donebtn").html('Guardar');
        $.ajax({
          method: "GET",
          url: "../api/v1/contacts/:"+id,
          success : function(text) {
            $("input[name='zauru_entity_id']").val(text[0]['zauru_entity_id']);
            $("input[name='zauru_default_seller_id']").val(text[0]['zauru_default_seller_id']);
            $("input[name='name']").val(text[0]['name']);
            $("input[name='tin']").val(text[0]['tin']);
            $("input[name='reference']").val(text[0]['reference']);
            $("input[name='address_line_1']").val(text[0]['address_line_1']);
            $("input[name='address_line_2']").val(text[0]['address_line_2']);
            $("input[name='delivery_address']").val(text[0]['delivery_address']);
            $("input[name='web']").val(text[0]['web']);
            $("input[name='phone']").val(text[0]['phone']);
            $("input[name='email']").val(text[0]['email']);
            $("input[name='contact']").val(text[0]['contact']);
            $("input[name='contact_phone']").val(text[0]['contact_phone']);
            $("input[name='contact_email']").val(text[0]['contact_email']);
            $("input[name='contact2']").val(text[0]['contact2']);
            $("input[name='contact2_phone']").val(text[0]['contact2_phone']);
            $("input[name='contact2_email']").val(text[0]['contact2_email']);
            $("input[name='notes']").val(text[0]['notes']);
            $("input[name='pdf']").val(text[0]['pdf']);
            $("input[name='image']").val(text[0]['image']);
          }
        });
      }
      $("#myform").submit(function(e){
        var serializedData = $(this).serialize();
        console.log(serializedData);
        if (mode == "CREATE") {
          $.ajax({
            method: "POST",
            url: "../api/v1/contacts",
            data: serializedData,
            success : function() {
              window.location.replace("contacts");
            },
            fail: function() {
              window.location.replace("contacts");
            }
          });
        } else {
          request = $.ajax({
            method: "PUT",
            url: "../api/v1/contacts/"+id,
            data: serializedData,
            success : function() {
              window.location.replace("../contacts");
            },
            fail: function() {
              window.location.replace("../contacts");
            }
          });
        };
        e.preventDefault();
      });
    });
block content
  h2.h-header Detalle del Contacto
  form#myform(name='myform', action='/api/v1/contacts', method='post', data-abide="true", )
    .alert.callout(data-abide-error="true", style="display: none;")
      p
        i.fi-alert
        | Hay errores en los datos
    .row
      .small-6.columns
        label
          | Name
          input(name='name', type='text', required="true")
    .row
      .small-6.columns
        label
          | NIT
          input(name='tin', type='text')
    .row
      .small-6.columns
        label
          | Referencia
          input(name='reference', type='text')
    .row
      .small-6.columns
        label
          | Dirección (parte 1)
          input(name='address_line_1', type='text')
    .row
      .small-6.columns
        label
          | Dirección (parte 2)
          input(name='address_line_2', type='text')
    .row
      .small-6.columns
        label
          | Dirección de entrega
          input(name='delivery_address', type='text')
    .row
      .small-6.columns
        label
          | Página Web
          input(name='web', type='text')
    .row
      .small-6.columns
        label
          | Teléfono
          input(name='phone', type='text')
    .row
      .small-6.columns
        label
          | Correo electrónico
          input(name='email', type='text')
    .row
      .small-6.columns
        label
          | Contacto
          input(name='contact', type='text')
    .row
      .small-6.columns
        label
          | Teléfono del contacto
          input(name='contact_phone', type='text')
    .row
      .small-6.columns
        label
          | Correo electrónico del contacto
          input(name='contact_email', type='text')
    .row
      .small-6.columns
        label
          | Contacto 2
          input(name='contact2', type='text')
    .row
      .small-6.columns
        label
          | Teléfono del contacto 2
          input(name='contact2_phone', type='text')
    .row
      .small-6.columns
        label
          | Correo electrónico del contacto 2
          input(name='contact2_email', type='text')
    .row
      .small-6.columns
        label
          | Notas
          textarea(name='notes', type='text')
    .row
      .small-6.columns
        label
          | PDF
          input(name='pdf', type='text')
    .row
      .small-6.columns
        label
          | Imagen
          input(name='image', type='text')
  br
  button#donebtn(type='submit', form='myform', value='Submit') AGREGAR
  br
  br
  a.button(href='../contacts') Regresar