nav#app-menu
	#app-tab-bar.top-bar
		.top-bar-left
			ul.menu
				li#admin-app-bar
					a(href='/')
						i.fi-dollar-bill
						span.show-for-large Inicio
				li#alumnos-app-tab
					a(href='/alumnos')
						i.fi-trophy
						span.show-for-large Alumnos
				li#conferencias-app-tab
					a(href='/conferencias')
						i.fi-trophy
						span.show-for-large Conferencias
